/* Title */
.title {
    color: white;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 85px;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black; /* Outline */
    border: none; /* Removed unnecessary border */
}

/* Heading */
h4 {
    text-align: center;
    font-size: 35px;
    color: white;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}

/* Rotating Images */
.rotating_images {
    width: 100%;
    max-width: 300px;
    float: right;
    padding-right: 40px;
    /* Removed height for flexibility */
}

/* Horizontal Rule */
hr {
    height: 5px;
    background: #000000d7;
}

/* Body Background */
body {
    background: linear-gradient(to right, #3A0B5A, #A05FB5);
    background: linear-gradient(270deg, #240B40, #6A0F8E, #A05FB5);
    background-size: 300% 300%;
    animation: gradientAnimation 10s ease infinite;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* Button styles */
.btn {
    padding: 8px 20px; /* Adjust padding to fit text */
    width: 200px;
    height: auto; /* Let the height adjust based on content */
    color: #fff;
    font-weight: 700;
    font-size: 16px; /* Adjust font size */
    border-radius: 0;
    text-transform: uppercase;
    margin: 25px;
    overflow: hidden;
    position: relative;
    background-color: rgb(95, 54, 190);
}

.btn::before {
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(120deg, transparent, #00fffc, transparent);
    transform: translateX(-100%);
    transition: 0.6s;
    position: absolute;
}

.btn:hover {
    box-shadow: 0 0 20px 5px rgb(5, 219, 219);
}
